{% extends 'base_front.html' %}
{% load static humanize %}

{% block content %}
{% if article.featured_picture %}
<div class="row">
  <div class="col-lg text-center">
    <img src="{{ article.featured_picture.url }}" class="img-fluid">
  </div>
</div>
{% endif %}
<div class="row page-content">
  <div class="col-lg"><h1>{{ article.title }}</h1></div>
</div>
<div class="row">
  <div class="col-lg">
    <h5>
      <span class="badge badge-pill badge-dark">
      {% with cat_count=article.categories.count %}
      Categor{{ cat_count|pluralize:"y,ies" }}
      {% endwith %}
      </span>
      {% for category in article.categories.all %}
      <a href="{% url 'content_management:category-detail' category.pk %}"
         class="badge badge-pill {% if category.pk == current_category.pk %}badge-primary{% else %}badge-light{% endif %}">
         {{ category.label }}
      </a>
      {% endfor %}
    </h5>
  </div>
</div>
<div class="row page-content">
  <div class="col-lg">
    <span class="badge badge-pill badge-light italic">Submitted by <u>{{ article.author }}</u></span>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <span class="badge badge-pill badge-light italic">Last update: {{ article.updated_at|naturaltime }} - Creation: {{ article.created_at|naturaltime }}</span>
  </div>
</div>
<div class="row page-content">
  <div class="col-lg">{{ article.content|safe }}</div>
</div>
{% if related_articles %}
<div class="row page-content">
  <div class="col-lg"><h3>In the same category:</h3></div>
</div>
<div class="row">
  {% for related_article in related_articles %}
  <div class="col-sm-6">
    <div class="card text-center">
      <img class="card-img-top"
           src="{% if related_article.featured_picture %}{{ related_article.featured_picture.url }}{% else %}{% static 'img/placeholder-image.jpg' %}{% endif %}"
           alt="Featured Image">
      <div class="card-body">
        <h5 class="card-title">{{ related_article.title }}</h5>
        <a href="{% url 'content_management:article-detail' related_article.pk %}?category={{ current_category.pk }}" class="btn btn-dark">Read more</a>
      </div>
      <div class="card-footer text-muted">{{ related_article.updated_at|naturaltime }}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
