{% extends 'base_front.html' %}

{% block extra-title %} &middot; Home{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg"><h1>Categories list</h1></div>
</div>
<div class="row page-content">
  {% for category in categories %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ category.label }}</h5>
        <p class="card-text">{{ category.description }}</p>
        <a href="{% url 'content_management:category-detail' category.pk %}" class="btn btn-dark">Read more</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
