html, body {
  min-height:100%
}

#main-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.page-content {
  margin-top: 2.5rem !important;
}

#footer {
  padding: 4rem;
}
